.chat{
    height: 100%;
    display: flex;
    flex-direction: column;

    .messages{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;

        h1{
            font-weight: 300;
        }

        .message{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span{
                font-weight: bold;
            }
        }
    }

    .chatBox{
        flex: 1;
    }
}