.slider{
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }

    .bigImage{
        flex: 3;
    }
    .smallImages{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        img{
            height: 100px;
        }
    }
}